/*Flipando en colorines con el CSS by Guerra*/

/*MuiPaper-root
.MuiDrawer-paper
.MuiDrawer-paperAnchorBottom
.MuiPaper-elevation16*/
.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight{
    margin-top:100px;
    background-color: #3c3abb;
    color: #ffffff;
    width: 460px;
}

.TituloLogIn {
    margin-top: 100px;
    color: #61dafb;
    text-align: center;
}

.FormularioLogIn{   
    align-self: center;
}

.Input{ 
    background-color: #8087CB;
    border: 0;
    color:#ffffff
}

.Input::placeholder{    
    color: #ffffff;
}

.UploadButton{
    align-self: center;
    margin-top: 50px;
}